In [29]:
import pandas as pd
import seaborn as sns
import warnings

%matplotlib inline
warnings.filterwarnings("ignore")

# Load and examine dataset
Perform some initial exploration and observation of features.

In [30]:
df = pd.read_csv("../data/raw/dataset.csv", delimiter=";")
df.shape

(45211, 17)

In [31]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [32]:
df.describe()

,age,balance,day,duration,campaign,pdays,previous
count,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000
mean,40.936210,1362.272058,15.806419,258.163080,2.763841,40.197828,0.580323
std,10.618762,3044.765829,8.322476,257.527812,3.098021,100.128746,2.303441
min,18.000000,-8019.000000,1.000000,0.000000,1.000000,-1.000000,0.000000
25%,33.000000,72.000000,8.000000,103.000000,1.000000,-1.000000,0.000000
50%,39.000000,448.000000,16.000000,180.000000,2.000000,-1.000000,0.000000
75%,48.000000,1428.000000,21.000000,319.000000,3.000000,-1.000000,0.000000
max,95.000000,102127.000000,31.000000,4918.000000,63.000000,871.000000,275.000000

In [28]:
df.isna().any()

age          False
job          False
marital      False
education    False
default      False
balance      False
housing      False
loan         False
contact      False
day          False
month        False
duration     False
campaign     False
pdays        False
previous     False
poutcome     False
y            False
dtype: bool

In [35]:
duplicate_rows = df.duplicated()
duplicate_rows.sum()

np.int64(0)

In [ ]:
sns.pairplot(df, hue="y")
# Doesn't appear to be any correlated features

In [ ]:
df["poutcome"].value_counts()

In [ ]:
df["job"].value_counts()

# Feature Engineering

In [ ]:
df["pdays"].describe()
# Most customers have not been contacted before
# Split into two columns - contacted before or not and days since last contact

df["previous_contact"] = df["pdays"].apply(lambda x: 0 if x == -1 else 1)
df["days_since_last_contact"] = df["pdays"].apply(lambda x: x if x != -1 else 0)
df = df.drop("pdays", axis=1)

# Variable Encoding

In [ ]:
# Encode binary and categorical variables for modelling
binary_cols = ["default", "housing", "loan", "y"]
for col in binary_cols:
    df[col] = df[col].map({"yes": 1, "no": 0}).astype(int)

In [ ]:
categorical_cols = ["job", "marital", "education", "contact", "month", "poutcome"]
df = pd.get_dummies(
    df,
    columns=categorical_cols,
    prefix=categorical_cols,
    drop_first=True,
    dtype=int,
)